<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>这是 LeanEngine 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
    <img style="width: 100px; height: 100px;" src="https://img.yzcdn.cn/public_files/2017/11/03/ae3ab8e200509767e9633d0ff65d81ab.png"/>
  </body>
</html>
